*{
    margin:0px;
    padding:0px;
    font-family: 'Bebas Neue', cursive;

}

.navbar-brand img{
    width: 70%!important;


}
.navbar .nav-link { 
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}
#fh1{
    font-size:70px;
    color:rgb(35, 35, 82)
}
#sh1{
    font-size:70px;
    color:#f3ad4d
}
#top-banner-height{
    height:900px;
}
#banner-button{
        background-color: rgb(9, 9, 49);
}
/*#middle-section-box-radius{
    border-radius: 55px!important;
}*/
.middle-icons img{

        width: 70px;

}

.middle-icons h3{
    font-weight: 700;
    font-family: 'Roboto', sans-serif;


}
.middle-icons{
  width:500px!important;
  
    
}
.middle-icons h3,p{
    width:300px;
}